* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

/* ---- Calendar Wrapper styling ---- */

.calendar {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
    background-color: #a2c1ff;
}

.calendar__wrapper {
    display: flex;
    flex-direction: column;
    height: 30rem;
    width: 50%;
    background-color: #f2f3f6;
    border-radius: 15px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);
    padding: 20px;
    max-width: 500px;
}

/* ---- Calendar title styling ---- */

.calendar__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 2.5rem;
    margin-bottom: 3rem;
}

.calendar__month-label {
    font-size: 2rem;
}

.calendar__nav-icon {
    position: relative;
    height: 100%;
    border: 2px solid rgb(178, 176, 176);
    border-radius: 20px;
    padding: 5px;
    cursor: pointer;
}

.calendar__nav-icon-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* ---- Calendar Body styling ---- */

.calendar__body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.calendar__weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 100%;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

.calendar__day-grid {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.calendar__day {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    color: rgb(82, 82, 82);
    position: relative;
}

.sport-event-day {
    color: red;
}

.red-event-marker-wrapper {
    position: absolute;
    height: 100%;
    right: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    align-items: center;
    width: 35%;
}

.red-event-marker {
    width: 6px;
    height: 6px;
    background-color: red;
    border-radius: 50%;
    margin: 0;
}
